
.filter{
  margin: 0 10em;
  padding: 1em 10em 0 10em;
}

.receitas{
  margin: 0 10em;
  padding: 1em 5em;
}

.receitas__titulo{

  font-family: var(--font-raleway);
  font-size: 3rem;
}



.chips{
  display: flex;
  justify-content: start;
  //padding: 0 30px;
  //margin-bottom: 50px;

}

.chips__item{
  background: var(--surface-500);
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 16px;
  margin-right: 10px;
  color: white;
}

