<header class="cabecalho">

  <div class="cabecalho__logo ">
    <h1 class="cabecalho__logo__titulo">
      <!-- <fa-icon [icon]="['fas', 'utensils']" size="2x"></fa-icon> -->
      COOKBOOK
    </h1>
  </div>

  <nav class="cabecalho__nav">
    <ul class="cabecalho__nav__list">
      <li>
        <button pButton pRipple type="button" label="Home" icon="pi pi-home" class="p-button-text p-button-plain nav__action"></button>
      </li>
      <li>
        <button pButton pRipple type="button" label="Receitas" icon="pi pi-book" class="p-button-text p-button-plain nav__action"></button>
      </li>
      <li>
        <button pButton pRipple type="button" label="Contato" icon="pi pi-phone" class="p-button-text p-button-plain nav__action"></button>
      </li>
      <li>
        <button pButton pRipple type="button" label="Painel de Controle" icon="pi pi-cog" class="p-button-text p-button-plain nav__action"></button>
      </li>
    </ul>
  </nav>



</header>



<router-outlet></router-outlet>
