<header class="cabecalho">
  <div class="cabecalho__logo">
    <h1 class="cabecalho__logo__titulo">
      <!-- <fa-icon [icon]="['fas', 'utensils']" size="2x"></fa-icon> -->
      COOKBOOK
    </h1>
  </div>

  <nav class="cabecalho__nav">
    <ul class="cabecalho__nav__list">
      <li>
        <button
          routerLink="/home"
          pButton
          pRipple
          type="button"
          label="Home"
          icon="pi pi-home"
          class="p-button-text p-button-plain nav__action"
        ></button>
      </li>
      <li>
        <button
          routerLink="/receitas"
          pButton
          pRipple
          type="button"
          label="Receitas"
          icon="pi pi-book"
          class="p-button-text p-button-plain nav__action"
        ></button>
      </li>
      <li>
        <button
          pButton
          pRipple
          type="button"
          label="Contato"
          icon="pi pi-phone"
          class="p-button-text p-button-plain nav__action"
        ></button>
      </li>
      <li>
        <button
          pButton
          pRipple
          type="button"
          label="Painel de Controle"
          icon="pi pi-cog"
          class="p-button-text p-button-plain nav__action"
        ></button>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="rodape">
  <div class="rodape__logo">
    <h1 class="rodape__logo__titulo">
      <!-- <fa-icon [icon]="['fas', 'utensils']" size="2x"></fa-icon> -->
      COOKBOOK
    </h1>

  </div>



  <nav class="rodape__nav">
    <ul class="rodape__nav__list">
      <li>
        <button
          routerLink="/home"
          pButton
          pRipple
          type="button"
          label="Home"
          icon="pi pi-home"
          class="p-button-text p-button-plain rodape__nav__action"
        ></button>
      </li>
      <li>
        <button
        routerLink="/receitas"
          pButton
          pRipple
          type="button"
          label="Receitas"
          icon="pi pi-book"
          class="p-button-text p-button-plain rodape__nav__action"
        ></button>
      </li>
      <li>
        <button
          pButton
          pRipple
          type="button"
          label="Contato"
          icon="pi pi-phone"
          class="p-button-text p-button-plain rodape__nav__action"
        ></button>
      </li>
      <li>
        <button
          pButton
          pRipple
          type="button"
          label="Painel de Controle"
          icon="pi pi-cog"
          class="p-button-text p-button-plain rodape__nav__action"
        ></button>
      </li>
    </ul>
  </nav>

  <div class="mt-3 sm:mt-0">
    <a
      class="cursor-pointer text-500 transition-colors transition-duration-150 hover:text-700"
      ><i class="pi pi-twitter text-xl"></i></a
    ><a
      class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"
      ><i class="pi pi-facebook text-xl"></i></a
    ><a
      class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"
      ><i class="pi pi-github text-xl"></i
    ></a>
  </div>
</footer>
