.slide{
  height: 100%;
  width: 100%;
  position: relative;

}

.slide__imagem{
  height: 100%;
  width: 100%;
  transition: all 10s;

}

.slide__conteiner{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.308));
}

.slide__conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10em;
  height: calc(100% - 50px);
}

.slide__titulo{
  font-size: 4rem;
  font-family: var(--font-raleway);
  font-weight: bold;
  color: var(--surface-100);
  //margin-bottom: 20px;
  padding: 10px;
  line-height: 1;
}

.slide__subtitulo{
  padding-left: 10px;
  font-size: 1.1rem;
  color: var(--surface-400);
}

.slide__conteiner__chips{
  display: flex;
  justify-content: left;
  padding: 0 30px;
  margin-bottom: 50px;
}

.slide__chips{
 // background: white;
  background: var(--surface-500);
  padding: 10px;
  font-size: 1rem;
  border-radius: 16px;
  margin-right: 10px;
  color: white;
}

.slide__button{
  margin-left: 20px;
}


.slide__posicao{
  display: flex;
  justify-content: center;
}

.slide__posicao__action{
  margin-right: 10px;
}
