

<div class="slide">

  <img [routerLink]="['/receita',receitaSlide.id]"
    class="slide__imagem"
    [src]="receitaSlide.urlImg"
  />
  <div class="slide__conteiner">
    <div class="slide__conteudo">
      <h2 class="slide__titulo">{{receitaSlide.title | titlecase}}</h2>

      <p class="slide__subtitulo">
       {{ receitaSlide.subtitle | titlecase}}
      </p>

      <div class="slide__conteiner__chips">
        <div class="slide__chips">
          <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
          Tempo: {{receitaSlide.time}}
        </div>

        <div class="slide__chips">
          <fa-icon [icon]="['fas', 'align-right']" [rotate]="90"></fa-icon>
          Dificuldade: {{receitaSlide.difficulty}}
        </div>

        <div class="slide__chips">
          <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
          Porções: {{receitaSlide.portions}}
        </div>
      </div>

      <div class="grid">
        <button
          pButton
          pRipple
          type="button"
          label="Confira Agora"
          icon="pi pi-arrow-right"
          iconPos="right"
          class="p-button-rounded p-button-lg slide__button col-3" [routerLink]="['/receita',receitaSlide.id]"
        ></button>
      </div>

    </div>

    <div class="slide__posicao">

      <div class="slide__posicao__action" *ngFor="let a of receitasSlides; index as i">
        <p-radioButton (onClick)="selectSlide(i)"
          name="city"
          [value]="i"
          [(ngModel)]="receitaSlide.index"
          inputId="city1"
        ></p-radioButton>
      </div>


    </div>

  </div>

</div>
