

<div class="slide">

  <img
    class="slide__imagem"
    [src]="item.img"
  />
  <div class="slide__conteiner">
    <div class="slide__conteudo">
      <h2 class="slide__titulo">{{item.titulo | titlecase}}</h2>

      <p class="slide__subtitulo">
       {{ item.subtitulo | titlecase}}
      </p>

      <div class="slide__conteiner__chips">
        <div class="slide__chips">
          <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
          Tempo: 30min
        </div>

        <div class="slide__chips">
          <fa-icon [icon]="['fas', 'align-right']" [rotate]="90"></fa-icon>
          Dificuldade: Fácil
        </div>

        <div class="slide__chips">
          <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
          Porções: 2
        </div>
      </div>

      <div class="grid">
        <button
          pButton
          pRipple
          type="button"
          label="Confira Agora"
          icon="pi pi-arrow-right"
          iconPos="right"
          class="p-button-rounded p-button-lg slide__button col-3"
        ></button>
      </div>

    </div>

    <div class="slide__posicao">

      <div class="slide__posicao__action" *ngFor="let a of slides; index as i">
        <p-radioButton (onClick)="selectSlide(i)"
          name="city"
          [value]="i"
          [(ngModel)]="item.index"
          inputId="city1"
        ></p-radioButton>
      </div>


    </div>

  </div>

</div>
