<section class="receitas">
  <!-- <p-divider align="left">

  </p-divider> -->
  <h2 class="receitas__titulo">Receitas</h2>
  <hr  >

<div class="grid">
  <p-card [header]="receita.title" [subheader]="receita.subtitle" class="card col-6" *ngFor="let receita of receitas">
    <ng-template pTemplate="header">
      <div class="post__button">
        <button pButton pRipple type="button" label="Destaque" icon="pi pi-star" [ngClass]="{'p-button-warning': receita.destaque == 1,'p-button-secondary' : receita.destaque == 2}" class="p-button-secondary button-destaque"></button>
        <button pButton pRipple type="button" label="Editar" icon="pi pi-pencil" class=" button-edit"></button>
        <button pButton pRipple type="button" label="Deletar" icon="pi pi-trash" class="p-button-danger button-delete"></button>
      </div>
        <img alt="Card" class="card__imagem" [src]="receita.urlImg">
    </ng-template>
    <div class="chips">
      <div class="chips__item">
        <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
        Tempo: {{receita.time}}
      </div>

      <div class="chips__item">
        <fa-icon [icon]="['fas', 'align-right']" [rotate]="90"></fa-icon>
        Dificuldade: {{receita.difficulty}}
      </div>

      <div class="chips__item">
        <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
        Porções: {{receita.portions}}
      </div>
    </div>
  </p-card>
</div>
 <p-paginator [rows]="metadata.pageSize" [totalRecords]="metadata.totalItemCount" (onPageChange)="onPageChange($event)"></p-paginator>
</section>
