<section #post>
  <div class="post__cabecalho">
    <img class="post__imagem" [src]="receita?.urlImg">
    <div class="post__filtro">
      <h2 class="post__titulo">{{receita?.title}}</h2>
      <h3 class="post__subtitulo">{{receita?.subtitle}}</h3>
      <div class="chips">
        <div class="chips__item">
          <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
          Tempo: {{receita?.time}}
        </div>

        <div class="chips__item">
          <fa-icon [icon]="['fas', 'align-right']" [rotate]="90"></fa-icon>
          Dificuldade: {{receita?.difficulty}}
        </div>

        <div class="chips__item">
          <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
          Porções: {{receita?.portions}}
        </div>
      </div>
    </div>
  </div>
  <div class="post grid">
    <div class="col-4">
      <mat-list>
        <div mat-subheader class="post__subtitulo" style="color: black;">Ingredientes</div>
        <mat-list-item *ngFor="let ingrediente of receita?.ingredientes">
          <mat-icon mat-list-icon>arrow_forward_ios</mat-icon>
          <div>
            {{ingrediente.desc}}
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-8">
      <mat-list>
        <div mat-subheader class="post__subtitulo" style="color: black;">Modo de preparo</div>
        <mat-list-item *ngFor="let modoDePreparo of receita?.modoDePreparos; index as i">
          <mat-icon mat-list-icon>{{'filter_' + (i + 1)}}</mat-icon>
          <div>{{modoDePreparo.desc}}</div>
        </mat-list-item>
      </mat-list>
    </div>
  <div class="col-12">

    <p-carousel [value]="recomendacaoReceitas" [page]="page" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="5000">
      <ng-template pTemplate="header">
        <h2 class="titulo__outrasReceitas">Receitas Relacionadas</h2>
      </ng-template>
      <ng-template let-product pTemplate="item">
        <div style="margin-left: 10px;">
          <p-card [header]="product.title" [subheader]="product.subtitle" [routerLink]="['/receita',product.id]">
            <ng-template pTemplate="header">
                <img alt="Card" class="card__imagem" [src]="product.urlImg">
            </ng-template>
            <div class="chips">
              <div class="chips__item">
                <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
                Tempo: {{product.time}}
              </div>

              <div class="chips__item">
                <fa-icon [icon]="['fas', 'align-right']" [rotate]="90"></fa-icon>
                Dificuldade: {{product.difficulty}}
              </div>

              <div class="chips__item">
                <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
                Porções: {{product.portions}}
              </div>
            </div>
          </p-card>
        </div>
      </ng-template>
  </p-carousel>


    <!-- <div class="grid">
      <p-card [header]="receita.titulo" [subheader]="receita.subtitulo">
        <ng-template pTemplate="header">
            <img alt="Card" [src]="receita.img">
        </ng-template>
        <div class="chips">
          <div class="chips__item">
            <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
            Tempo: 30min
          </div>

          <div class="chips__item">
            <fa-icon [icon]="['fas', 'align-right']" [rotate]="90"></fa-icon>
            Dificuldade: Fácil
          </div>

          <div class="chips__item">
            <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
            Porções: 2
          </div>
        </div>
      </p-card>
    </div> -->
  </div>

  </div>



</section>
