<section class="slideImagem">
  <app-slide></app-slide>
</section>

<section class="post grid">

  <p-card [header]="item.title" [subheader]="item.subtitle" class="card col-4"
    styleClass="p-card-shadow ui-card" *ngFor="let item of receitas" [routerLink]="['/receita',item.id]">
    <ng-template pTemplate="header" class="img">
        <img alt="Card" class="card__imagem" [src]="item.urlImg">
    </ng-template>
    <div class="chips">
      <div class="chips__item">
        <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
        Tempo: {{item.time}}
      </div>

      <div class="chips__item">
        <fa-icon [icon]="['fas', 'align-right']" [rotate]="90"></fa-icon>
        Dificuldade: {{item.difficulty}}
      </div>

      <div class="chips__item">
        <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
        Porções: {{item.portions}}
      </div>
    </div>
  </p-card>
  <div class="col-12">
    <p-paginator [rows]="metadata.pageSize" [totalRecords]="metadata.totalItemCount" (onPageChange)="onPageChange($event)"></p-paginator>
  </div>
</section>
